
#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.incognito-mode {
  background-color: #1a1528;
}

@keyframes loading {
  0% {
    left: -33%;
  }
  100% {
    left: 100%;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
